# Image
*.jpg lfs
*.jpeg lfs
*.png lfs
*.apng lfs
*.atsc lfs
*.gif lfs
*.bmp lfs
*.exr filter=lfs diff=lfs merge=lfs -text
*.tga lfs
*.tiff lfs
*.tif lfs
*.iff lfs
*.pict lfs
*.dds lfs
*.xcf lfs
*.leo lfs
*.kra lfs
*.kpp lfs
*.clip lfs
*.webm lfs
*.webp lfs
*.svg lfs
*.svgz lfs
*.psd lfs
*.afphoto lfs
*.afdesign lfs
*.hdr filter=lfs diff=lfs merge=lfs -text
# Audio
*.mp3 lfs
*.ogg lfs
*.wav lfs
*.aiff lfs
*.aif lfs
*.mod lfs
*.it lfs
*.s3m lfs
*.xm lfs
# Video
*.mov lfs filter=lfs diff=lfs merge=lfs -text
*.avi lfs filter=lfs diff=lfs merge=lfs -text
*.asf lfs filter=lfs diff=lfs merge=lfs -text
*.mpg lfs filter=lfs diff=lfs merge=lfs -text
*.mpeg lfs filter=lfs diff=lfs merge=lfs -text
*.mp4 lfs filter=lfs diff=lfs merge=lfs -text
*.flv lfs filter=lfs diff=lfs merge=lfs -text
*.ogv lfs filter=lfs diff=lfs merge=lfs -text
*.wmv lfs filter=lfs diff=lfs merge=lfs -text
# 3D
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj lfs filter=lfs diff=lfs merge=lfs -text
*.max lfs filter=lfs diff=lfs merge=lfs -text
*.blend lfs filter=lfs diff=lfs merge=lfs -text
*.blender lfs filter=lfs diff=lfs merge=lfs -text
*.dae lfs filter=lfs diff=lfs merge=lfs -text
*.mb lfs filter=lfs diff=lfs merge=lfs -text
*.ma lfs filter=lfs diff=lfs merge=lfs -text
*.3ds lfs filter=lfs diff=lfs merge=lfs -text
*.dfx lfs filter=lfs diff=lfs merge=lfs -text
*.c4d lfs filter=lfs diff=lfs merge=lfs -text
*.lwo lfs filter=lfs diff=lfs merge=lfs -text
*.lwo2 lfs filter=lfs diff=lfs merge=lfs -text
*.abc lfs filter=lfs diff=lfs merge=lfs -text
*.3dm lfs filter=lfs diff=lfs merge=lfs -text
*.bin lfs filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf lfs filter=lfs diff=lfs merge=lfs -text
